@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: linear-gradient(129deg, #68B2F8 18.66%, #6D5FDB 42.21%, #7037CD 61.46%, #651F71 80.87%);
 scroll-behavior:smooth !important;

}

* {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.second,
.trd,
.frt,
.fft {
  
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  padding: 5%;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.trd{
  flex-direction: row;
  justify-content: center;
  height: 200vh;
}
.auxiliar{
  display: flex;
  height: 90vh;
  justify-content: center;
  position:sticky;
  top: 0;
  flex-direction: column;
}

.frt{
  background: black;
}

.topSobre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1{
  font-family: 'Urbanist';
  font-size: 3em;
  font-weight: 800;
  margin: 0;
}

.trd h1 {
  font-size: 8em;
  font-weight: 600;
}

.first, .second {
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}




.fotos{
  display: flex;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  height: 100%;
}

.foto{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.foto:nth-of-type(1){
  width: 100%;
  height: 20%;
  background-image: url(imgs/leo.png);
}
.foto:nth-of-type(2){
  width: 100%;
  height: 20%;
  background-image: url(imgs/kamaleo.jpeg);
}

.foto:nth-of-type(3){
  width: 100%;
  height: 20%;
  background-image: url(imgs/apts.jpeg);
}

.foto:nth-of-type(4){
  width: 100%;
  height: 20%;
  background-image: url(imgs/sandy.jpeg);
}
.foto:nth-of-type(5){
  width: 100%;
  height: 20%;
  background-image: url(imgs/eg.jpeg);
}
.foto:nth-of-type(5){
  width: 100%;
  height: 20%;
  background-image: url(imgs/sofi.jfif);
}




.nome {
  display: flex;
  flex-direction: column;
  background: black;
  width: 80%;
  border-bottom-right-radius: 33px;
  height: 50%;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.aux {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botoesMain {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
  padding: 0;
}

li a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.botoesMain li {
  width: 33%;
  text-align: start;
  cursor: pointer;
}

li a:hover {
  text-decoration: underline;
}

.tipo {
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nomeEu {
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: end;
  width: 100%;
}

.middle {
  display: flex;
  flex-direction: row;
  padding: 2%;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-around;
}

.sobremim {
  width: 90%;
  color: #FFF;
  text-align: justify;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.voltar {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.voltar:hover{
  transform: scale(1.2);
}
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas de tamanho igual */
    grid-template-rows: repeat(6, auto);   /* 6 linhas ajustadas ao conteúdo */
    gap: 100px; /* Espaçamento entre os cards */
    width: 50%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas de tamanho igual */
    grid-template-rows: repeat(6, auto); /* 6 linhas com altura automática */
    gap: 10px;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-width: 300px;
  min-height: 300px;
  border-radius: 33px;
  transition: filter 0.3s ease;
}

.card:hover {
  filter: brightness(0.7);
}

.card:hover .cardin{
  opacity: 1;
  filter: brightness(1);
}

.cardin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 10%;
  background-color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 33px;
}

.mais{
  font-weight: 600;
  color: black;
}

.cardin{
  opacity: 0;
}

.card:nth-of-type(1){
  background-image: url(/imgs/insta.png);
  background-size: cover;
  background-position: center;
}
.card:nth-of-type(2){
  background-image: url(/imgs/pitchd.png);
  background-size: cover;
  background-position: center;
}
.card:nth-of-type(4){
  background-image: url(/imgs/pitchdd.png);
  background-size: cover;
  background-position: center;
}
.card:nth-of-type(3){
  background-image: url(/imgs/labmeta.png);
  background-size: cover;
  background-position: center;
}
.card:nth-of-type(5){
  background-image: url(/imgs/labgem.png);
  background-size: cover;
  background-position: center;
}
.card:nth-of-type(6){
  background-image: url(/imgs/primavera.png);
  background-size: cover;
  background-position: center;
}



.redes{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 30%;
  min-height: 100px;
}

.in, .git{
  height: 100%;
  min-width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 33px;
  cursor: pointer;
}

.in{
  background-image: url('/imgs/in.png');
}

.git{
  background-image: url('/imgs/git.png');
}

.local{
  display: flex;
  flex-direction: row;
}

.fft{
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  background-image: none;
}

.topProj{
  width: 100%;
}

.middleProj h1{
  color: #FFF;
  font-family: 'Urbanist';
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.middleProj h2{
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.middleProj a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--roxy, linear-gradient(117deg, #68B2F8 0%, #7037CD 50%, #651F71 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bottomProj{
  width: 100%;
}

#inicio{
  cursor: pointer;
}